
<% if !user_signed_in? %>
<div class="jumbotron">
  <h1>Welcome to Pintrest for Kittens!</h1>
  <p>Don't have an account? Well aren't you lucky, because this is just the place to get one! If you already have one, just sign in.</p>
  <p><a class="btn btn-success btn-lg" role="button" href="/users/sign_in">Sign In</a> <a class="btn btn-warning btn-lg" role="button" href="/users/sign_up">Sign Up</a></p>
</div>
<% else %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Descriptions</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @pins.each do |pin| %>
      <tr>
        <td><%= pin.descriptions %></td>
        <td><%= link_to 'Show', pin %></td>
        <td><%= link_to 'Edit', edit_pin_path(pin) %></td>
        <td><%= link_to 'Destroy', pin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
<br>

