<!DOCTYPE html>
<html>
<center><h2 style="font-family: Helvetica;">Hi Will and Ben!</h2></center>
<p style="font-family: Helvetica;">Welcome to the my new web page. Below you will find three pictures, with each one having commentary below it. Also, if you are feeling adventurous, feel free to click on the pictures, as they will <i>magically</i> transport you to another page of the World Wide Web.</p>

<center><a href="http://www.my-how-to-draw.com/"><img style="width: 30em;length: 30em; border: solid; border-color: black;" src="http://upload.wikimedia.org/wikipedia/commons/6/6a/Mona_Lisa.jpg" /></a></center>
<p style="font-family: Helvetica">The picture available for viewing above is known as the <i>Mona Lisa</i>, and was painted by 16th century hipster and underground artist Leonardo da Vinci. Although the painting was a huge success when it was first put on display, modern critics have been critical of the work, calling it too "simplistic." However, perhaps the best observation of Leonardo da Vinci and his controversial painting can be found in William Schekville's book <i>Painters</i>:</p>
<blockquote>Leonardo da Vinci was a painter, and the <i>Mona Lisa</i> is a painting that was painted by him.</blockquote>

<center><a href="http://happyfuncorp.com"><img style="width: 30em;length: 30em; border: solid; border-color: black;" src="http://cineffect.files.wordpress.com/2013/11/kiki-1.jpg" /></a></center>
<p style="font-family: Helvetica">The picture shown above is a shot taken from Hayao Miyazaki's movie <i>Kiki's Delivery Service</i>. The importance of this drawing can be found in its ability to depict the complexities of our universe and make us realize that the world is not so simple. However, after a quick look at Jeremiah Corrinth's work <i>Thoughts On a Thinking Cap</i>, we see that although the world is complicated, it can be summed up in a very simple manner:</p>
<blockquote>The world is actually quite simple. All we have to do is say so. Yay!</blockquote>

<center><a href="http://www.peta.org/"><img style="width: 30em;length: 30em; border: solid; border-color: black;" src="http://media-cache-ec0.pinimg.com/736x/9d/33/5c/9d335c8fbbe8d1d8481bff3d8d0bd07c.jpg" /></a></center>
<p style="font-family: Helvetica">At first glance, you may believe that the picture shown above is of a panda. However, if you were to believe this, you would be wrong. The animal in the picture above is actually a Chow dog that has had its fur dyed so that it looks like a panda. Perhaps this fur dying sensation that is sweeping the globe has been best summed up by Hoboken, New Jersey based modern artist and animal rights activist Benjamin Schipskies:</p>
<blockquote>Wow, that's F&%@ed up.</blockquote>