<!DOCTYPE html>
<html style="background-color: green; border: solid; border-color: black;">
<h1 align="center" style="color: blue; font-family: Comic Sans;">We all sort of like kittens</h1>
<p align="center">But we don't know where to find them on the internet.</p>
<p align="center">This is not our place.</p>
<h1 align="center"> Here is what is on this website</h1>
<ol align="center">
	<li>This</li>
	<li>This</li>
	<li>This</li>
</ol>
<a href="http://www.dodgers.com"><center><img style="width: 30em;length: 30em; border: solid; border-color: black;" src="http://cineffect.files.wordpress.com/2013/11/kiki-1.jpg" /></center></a>
</html>