<div class="jumbotron">
<h1>We all love kittens</h1>
<p>But I <i>just don't know</i> where to find them on the
<b>internet</b>.</p>
<% if user_signed_in? %>
<p>Welcome back</p><p><%= current_user.email %></p>
<% end %>
<a class="btn btn-primary btn-lg" role="button"
href="/about">Learn more</a>
<a class="btn btn-warning btn-lg" role="button"
href="https://www.google.com/search?q=puppies&tbm=isch">I prefer
puppies</a>
<a class="btn btn-success btn-lg" role="button"
href="http://butlertwp.org/Images/Road.jpg"><span class="glyphicon glyphicon-road"></span></a>
</p>
</div>

