<!DOCTYPE html>
<html style="background-color: green; border: solid; border-color: black;">
<h1 align="center" style="color: blue; font-family: Comic Sans;">We all sort of like kittens</h1>
<p>But we don't know where to find them on the internet.</p>
This is not our place.</p>
<h1> Here is what is on this website</h1>
<ol>
	<li>This</li>
	<li>This</li>
	<li>This</li>
</ol>
<a href="http://www.dodgers.com"><img align="center" style="width: 30em;length: 30em; border: solid; border-color: black;" src="http://cineffect.files.wordpress.com/2013/11/kiki-1.jpg" /></a>
</html>